.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
main {
    margin-left: 250px;
}
.btn-logout {
    width: 100%;
}